includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
    level: 5
    ignoreErrors:
        - '#Method App.Models.Plan::[a-zA-Z]+\(\) should return Illuminate.Database.Eloquent.Relations.HasMany<.*> but returns Illuminate.Database.Eloquent.Relations.HasMany<.*>#'
        - '#Access to an undefined property Illuminate.Database.Eloquent.Model::\$skill_name#'
        - '#Parameter (.*)callback of method Illuminate.Database.Eloquent.Collection<int,App.Models.Skill>::map\(\) contains unresolvable type#'
        - '#Access to an undefined property Illuminate.Database.Eloquent.Model::\$[a-zA-Z_]+#'
        - '#Parameter (.*)callback of method Illuminate.Database.Eloquent.Collection<int,App.Models.Skill>::map\(\) contains unresolvable type#'
        - '#Method App.Models.Attribute::plan\(\) should return Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Plan, App.Models.Attribute> but returns Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Plan, \$this(App.Models.Attribute)>#'
        - '#Method App.Models.Condition::plans\(\) should return Illuminate.Database.Eloquent.Relations.HasMany<App.Models.Plan, App.Models.Condition> but returns Illuminate.Database.Eloquent.Relations.HasMany<App.Models.Plan, \$this(App.Models.Condition)>#'
        - '#Method App.Models.DistanceGrade::plan\(\) should return Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Plan, App.Models.DistanceGrade> but returns Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Plan, \$this(App.Models.DistanceGrade)>#'
        - '#Method App.Models.Goal::plan\(\) should return Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Plan, App.Models.Goal> but returns Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Plan, \$this(App.Models.Goal)>#'
        - '#Method App.Models.Mood::plans\(\) should return Illuminate.Database.Eloquent.Relations.HasMany<App.Models.Plan, App.Models.Mood> but returns Illuminate.Database.Eloquent.Relations.HasMany<App.Models.Plan, \$this(App.Models.Mood)>#'
        - '#Method App.Models.Plan::mood\(\) should return Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Mood, App.Models.Plan> but returns Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Mood, \$this(App.Models.Plan)>#'
        - '#Method App.Models.Plan::condition\(\) should return Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Condition, App.Models.Plan> but returns Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Condition, \$this(App.Models.Plan)>#'
        - '#Method App.Models.Plan::strategy\(\) should return Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Strategy, App.Models.Plan> but returns Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Strategy, \$this(App.Models.Plan)>#'
        - '#Method App.Models.Skill::plan\(\) should return Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Plan, App.Models.Skill> but returns Illuminate.Database.Eloquent.Relations.BelongsTo<App.Models.Plan, \$this(App.Models.Skill)>#'
        - '#Method App\\Exceptions\\ApiError::(validation|notFound|unauthorized|forbidden|rateLimitExceeded|serverError)\(\) should return static\(App\\Exceptions\\ApiError\) but returns App\\Exceptions\\ApiError#'
        - '#Method App\\Exceptions\\ApiException::(validation|notFound|unauthorized|forbidden|rateLimitExceeded|serverError)\(\) should return static\(App\\Exceptions\\ApiException\) but returns App\\Exceptions\\ApiException#'
        - '#Method App\\Models\\[A-Za-z]+::[a-zA-Z]+\(\) should return Illuminate\\Database\\Eloquent\\Relations\\(HasMany|BelongsTo)<.*> but returns Illuminate\\Database\\Eloquent\\Relations\\(HasMany|BelongsTo)<.*>\.#'
