parameters:
  level: 5
  paths:
    - components
    - api
    - includes
    - public
  excludePaths:
  - vendor/*
  - assets/js/*
  - assets/css/*
  - *.sql
  - backup/*
  - scripts/*
  bootstrapFiles:
  - vendor/autoload.php
  - phpstan-bootstrap.php
  - phpstan-globals.php
